@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2c3e50;
  /* Secondary color (Dark Blue/Grey) */

  --primary: #cc3523;
  /* Tatkalorry Brand Red */
  --secondary: #2c3e50;
  /* Dark Blue/Grey */
  --accent: #f8f8f8;
  /* Light Grey BG */

  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  /* Fluid Typography: Scale base size from 12px on small mobile to 16px on desktop */
  font-size: clamp(12px, 3.5vw, 16px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-heading: var(--font-montserrat);
  --font-body: var(--font-open-sans);
}



body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}